<!DOCTYPE html>
<html>
  <head>
    <title>MockTrial</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag *webpack_asset_paths("styles") %>
  </head>

  <body>
    <%= yield %>
    <div id='app'></div>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
  </body>
</html>
