<!DOCTYPE html>
<html>
  <head>
    <title>MockTrial</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  </head>

  <body>
    <div id='app'></div>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
  </body>
</html>
